:root {
  --background: #171717;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #0a0a0a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
